body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: #f0f0f0;
}

.record {
  width: 100%;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 500px;
  padding: 20px;
}

.container {
  display: flex;
  background-color: #ffffff;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 700px;
  height: 400px;
  border-radius: 8px;
  overflow: hidden;
}

.card {
  background-color: #ffffff;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.card form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.initialize-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.initialize-buttons {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: center;
}

.initialize-buttons .initialize-button {
  padding: 10px 20px;
  background-color: #e0e0e0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.initialize-buttons .initialize-button:hover {
  background-color: #d0d0d0;
}

.main-content {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.label-field-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.label-field {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.label-field-row {
  display: flex;
  gap: 10px;
  align-items: center;
}

.row-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.status-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
  width: 100%;
  margin-bottom: 10px;
}

.status-section span {
  font-size: 14px;
  font-family: monospace;
  
}

.fee-input-group {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px;
}

.fee-input-group input {
  flex: 1;
  border: none;
  background: transparent;
  font-family: monospace;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100px;
}

.centered-label {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}

.input-group {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.input-group select {
  flex: 1;
  border: none;
  background: transparent;
  font-family: monospace;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.status-input-group {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;

  border-radius: 10px;
  padding: 5px;
}

.status-input-group span {
  font-size: 14px;
  font-family: monospace;
  font-weight: bold;
  color: white;
}

#valid-status {
  background-color: limegreen;
}

#invalid-status {
  background-color: red;
}

#cancelled-status {
  background-color: dimgray;
}

#null-status {
  background-color: dimgray;
}

#indeterminated-status {
  background-color: orange;
}

.status-input-group input {
  flex: 1;
  border: none;
  background: transparent;
  font-family: monospace;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.input-group input {
  flex: 1;
  border: none;
  background: transparent;
  font-family: monospace;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#label-field-25 {
  width: 25%;
}

#public-key-input {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

#hash-public-key-input {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

.input-group .copy-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.upload-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.upload-section input[type="file"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.action-buttons {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: center;
}

.action-buttons .btn {
  padding: 10px 20px;
  background-color: #e0e0e0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.action-buttons .btn:hover {
  background-color: #d0d0d0;
}

.horizontal-card {
  background-color: #ffffff;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

/* Estilos para o modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 60%;
  max-height: 80vh; /* Limita a altura do modal */
  overflow-y: auto; /* Habilita o scroll vertical */
  margin: auto;
}

/* Estilo para o botão de fechar */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.institutions-list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  overflow-y: auto;
}

.institution-presentation {
  width: 250px;
  padding: 10px;
}

.extra-info {
  display: none; /* Escondido por padrão */
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  margin-bottom: 12px;
}

/* Estilo para o botão de mais informações */
.more-info-btn {
  padding: 10px;
  background-color: #6495ed;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 20px;
  color: white;
}

.more-info-btn:hover {
  background-color: #0056b3;
}

.institution-details {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.request-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.request-label-field {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

input:focus {
  outline-color: grey;
  outline-offset: 3px;
}

.request-input-group input:focus {
  outline: none;
}

.request-label-field label {
  font-weight: bold;
}

.request-input-group {
  display: flex;
  align-items: center;

  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.request-input-group input {
  flex: 1;
  border: none;
  background: transparent;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.htmx-indicator {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
.htmx-request .htmx-indicator {
  opacity: 1;
}
.htmx-request.htmx-indicator {
  opacity: 1;
}

.phrase {
  resize: none;
  width: 100%;
  border: none;
  background-color: transparent;
  font-size: 14px;
}

.disclaimer {
  color: red;
  font-weight: bold;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  gap: 5px;
}

.label-field #phraseField {
  gap: 15px;
}

.loading {
  margin: 5px;
}

.request-disclaimer {
  text-align: justify;
}

.top-content {
  align-self: center;
  margin-top: 20px;
  gap: 20px;
}
